.verificar {
    padding: 8px 10px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    background-color: var(--varifica_bg-color);
    color: var(--varifica_color);
    border: none;
    cursor: pointer;
}

/* Adicionar animação ao botão // animação de sacudir */  