.verificar {
    padding: 8px 10px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    background-color: #3c3f3e;
    color: azure;
    border: transparent;
    cursor: pointer;
}

/* Adicionar animação ao botão // animação de sacudir */  