.verificar {
    padding: 8px 10px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    background-color: #3c3f3e;
    color: azure;
    border: transparent;
    cursor: pointer;
}

/* Adicionar animação ao botão // animação de sacudir */

.verificar:hover {
    animation: bounce-top 1s linear 0s 1 alternate; 
}

@keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-15px);
              transform: translateY(-15px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-3px);
              transform: translateY(-3px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    } 
    25%, 55%, 75%, 87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  